services:
	-
		class: Shredio\PhpstanRules\TypeExtension\OmitTypeNodeResolverExtension
		tags:
			- phpstan.phpDoc.typeNodeResolverExtension
	-
		class: Shredio\PhpstanRules\TypeExtension\PropsOfTypeNodeResolverExtension
		tags:
			- phpstan.phpDoc.typeNodeResolverExtension
