parameters:
	level: 9
	paths:
		- src
	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		implicitThrows: false
		checkedExceptionClasses:
			- Shredio\PhpStanHelpers\Exception\RuntimeException
