services:
	-
		class: Shredio\PhpstanRules\TypeExtension\ObjectVarsMethodReturnTypeExtension
		arguments: [Tests\Common\DataTransferObject, toArray]
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

includes:
	- ../../../../vendor/shredio/phpstan-helpers/extension.neon
