services:
	-
		class: Shredio\PhpstanRules\TypeExtension\WithoutPropsNodeResolverExtension
		tags:
			- phpstan.phpDoc.typeNodeResolverExtension
	-
		class: Shredio\PhpstanRules\TypeExtension\PropsOfTypeNodeResolverExtension
		tags:
			- phpstan.phpDoc.typeNodeResolverExtension

includes:
	- ../../../vendor/shredio/phpstan-helpers/extension.neon
